

<% provide(:home, "active")%>
<%=render :partial => 'navigation'%>


<!-- Top content -->
<div class="top-content container-fluid">
	
	<div class='video-background'>	
			<%= video_tag "turbine", :controls => false, :autoplay => true, :loop => true %>
	</div>
	
	<div class='container container-fixed'>
		<h1>Brendan Gillies</h1>
			<p><em class='text-shuffle' data-word-array='["engineer in training", "full-stack developer"]'>designer</em></p>
	</div>
	<hr></hr>
	<div class='row'>
		<div class='jumbotron'>
			<div class='col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3'>
			<br><p>
					
				I believe in leveraging technology to solve large scale problems.
				</p>
			</div>
		</div>
	</div>
	
	<div class='row'>
		<%= render(:partial => 'aboutme')%>
	</div>
	
	
	<hr></hr>
		<div class='row'>
			<div class='container container-fixed text-center'>	
				<div class='col-xs-6 col-md-3 col-md-offset-3'>
					<h2>Blog Posts</h2>
					<p><%=link_to "Why I've Learned to Code" %></p>
					<p><%=link_to "Experiments in Outsourcing" %></p>
				</div>
				<div class='col-xs-6 col-md-3'>
					<h2>Projects</h2>
					<p><a href='https://rhubarbcollective.com' target='_blank'>Rhubarb Collective</a></p>
					<p><%= link_to "3D Printed Orthotic" %></p>
					<p><%= link_to "Wind Powered Pump"%></p>
					<p><%= link_to "Insitu Power Website"%></p>
				</div>
			</div>
		</div>

	<!-- Fourth Page (Contact) -->
		<div class="row row-footer text-center">
	 	   <a href="mailto:admin@brendangillies.com?Subject=Hello"><i href="/contacts/new" class="fa fa-envelope-o fa-3x footer-icon"></i></a>
		  <a href="https://www.linkedin.com/in/brendangillies"><i class="fa fa-linkedin fa-3x footer-icon"></i></a>
		</div>

</div>

