  			<table class="table table-bordered table-striped text-center" summary="Tasks List">
				<tr class="header">
					<th>ID</th>
					<th>First</th>
					<th>Last</th>
					<th>E-mail</th>
					<th>Phone</th>
					<th>Message</th>
					<th>Created</th>
				</tr>
				<% i = 0 %>	
				<% @contacts.each do |contact|%>	
				<tr>
					<td><%=contact.id%></td>
					<td><%=contact.first_name%></td>
					<td><%=contact.last_name%></td>
					<td><%=contact.email%></td>
					<td><%=contact.phone%></td>
					<td><%=contact.message%></td>
					<td><%=contact.created_at%></td>
					<% end %>
			</table>