<div class="row text-center">
	<%= render(:partial => '/shared/navbar')%>
</div>


	<div class="container-fluid text-center container-1">
		<div class="jumbotron">
				<h1>Get in touch</h1>
				<div clas='form'>
					
						<% if !flash[:error].blank? %>
							<div class="alert alert-danger" role="alert">
									<%= flash[:error]%>
							</div>
						<% end%>
					
					
				
				<%= bootstrap_form_for(@contact, :url => {:action => 'create'}, :class => 'form-inline') do |f| %>
			
					<%= f.text_field :first_name, :label => "First" %></br>
					<%= f.text_field :last_name, :label => "Last" %></br>
					<%= f.email_field :email, :label => "E-mail"%></br>
					<%= f.telephone_field :phone %></br>
					<%= f.text_field :company %></br>
					<%= f.text_area :message %></br>
		
					<%= f.submit "Submit"%>
				<% end %>
				</div>
		</div>
	</div>

