<!DOCTYPE html>
<html>
<head>
 <title>BG | Design & Development | Responsive Websites | Calgary </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="Jmn3lqbUUAFhmrL-BDEZUUz2ZQGuSNf1VDd9yiYpBu4" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>

<body>
	

		<% if !flash[:notice].blank? %>
			<div class="alert alert-info alert-dismissible text-center" role="alert">
					<%= flash[:notice]%>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			</div>
		<% end%>
	
	
	
	<%= yield %>
	
	<%= render 'layouts/footer'%>
	
</body>


</html>
