<!DOCTYPE html>
<html>
<head>
 <title>Brendan Gillies | Engineer in Training | Full Stack Development| Design</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="Jmn3lqbUUAFhmrL-BDEZUUz2ZQGuSNf1VDd9yiYpBu4" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>

<body>
	

		<% if !flash[:notice].blank? %>
			<div class="alert alert-info alert-dismissible text-center" role="alert">
					<%= flash[:notice]%>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
			</div>
		<% end%>
	
	
	
	<%= yield %>
	
	<%= render 'layouts/footer'%>
	
	
	
	<!-- Custom Theme JavaScript -->
	<script>
		// Closes the sidebar menu
		$("#menu-close").click(function(e) {
		    e.preventDefault();
		    $("#sidebar-wrapper").toggleClass("active");
		});
		// Opens the sidebar menu
		$("#menu-toggle").click(function(e) {
		    e.preventDefault();
		    $("#sidebar-wrapper").toggleClass("active");
		});
		// Scrolls to the selected menu item on the page
		$(function() {
		    $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
		        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
		            var target = $(this.hash);
		            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
		            if (target.length) {
		                $('html,body').animate({
		                    scrollTop: target.offset().top
		                }, 1000);
		                return false;
		            }
		        }
		    });
		});

	</script>
	
	
</body>


		<div class="row row-footer text-center">		
	 	   <a href="mailto:admin@brendangillies.com?Subject=Hello"><i href="/contacts/new" class="fa fa-envelope-o fa-3x footer-icon"></i></a>
		  <a href="https://www.linkedin.com/in/brendangillies"><i class="fa fa-linkedin fa-3x footer-icon"></i></a>
		</div>


</html>
